#logo {
    width: 30px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    background-color: rgb(9, 163, 99);
    display: block;
    padding: 30px;
}

li {
    display: inline;
    padding: 40px;

}

li a:hover {
    color: #dce6b3;

}

li a {
    text-decoration: none;
}

#d1 {
    position: fixed;
}





footer {
    text-align: center;
    justify-content: center;
    width: 100%;
    position: absolute;


}

main {
    display: flex;
    /* justify-content: center;
            padding-top: 20px;
            padding-bottom: 10px; */
    flex-wrap: wrap;
    /* flex-direction:row; */

}

/* .card {
    flex: 0 0 33%;
    flex-wrap: wrap;
} */
