#logo {
    width:30px;

}
h1 {
    text-align: center;

}
ul {
    list-style-type: none;
    margin: 0px;
    background-color: rgb(9, 163, 99);
    display:block;
    padding: 30px;

}
li{
    display: inline;
    padding: 40px;

}
li a:hover{
    color: rgb(218, 200, 131);
}
li a {
    text-decoration: none;
}


    #d1 {
        position: fixed;
    }
    
    #f {
        padding: 30px ;
    }
    
    footer  {
        justify-content: center;
    text-align: center;
        left: 0;
        bottom: 0px;
        width: 100%;
        position:absolute

    
    
     }   
  

   